@charset "utf-8";
/* CSS Document */

body {
	background: #1E4E74;	
	color: #ddd;
	/* background: url(../images/background_masseffect.jpg) no-repeat center center fixed; */
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin-top:0px;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	background-color:#1E4E74;
	padding:0px;
}

h1 {
	text-transform: uppercase;
}
h1 {
 overflow: hidden;
 text-align: center;
}
h1:before,
h1:after {
 background-color: #333;
 content: "";
 display: inline-block;
 height: 1px;
 position: relative;
 vertical-align: middle;
 width: 50%;
}
h1:before {
 right: 0.5em;
 margin-left: -50%;
}
h1:after {
 left: 0.5em;
 margin-right: -50%;
}

img {
border: none;
}

#container {
	margin-top: 10px;
	margin-right:auto;
	margin-left:auto;
	width: 980px;
	/* height: 1125px; */
	padding: 10px;
	/* background: url(../images/readability.png) no-repeat; */
	overflow: hidden;
}
#footer {
	margin-top: 46px;
	text-align: right;
}
#footer * {
	float: right;	
}
#arcLinks {
	margin-left: 140px;
}
#kindlingAd {
	width: 250px;
}
#kindlingAd a {
	color: #fff;
	font-size: 12px;
	text-decoration: none;
	display: block;
}
#kindlingAd p {
	margin: 4px 40px 0 0;
}

a.www-link {
	margin: 0 8px 0 30px;
}

#arc90 {
    display: block;
    text-align: right;
    margin-top: 60px;
}
#arc90 img {
    margin-right: 10px;
}
#arc90 a.twitter { 
    color: #ddd;
    text-decoration: none;
    font-size: .8em;
    font-weight: bolder;
    margin-top: 10px;
    border-bottom: 1px solid #fff;
}
#arc90 a.blog { 
    color: #ddd;
    text-decoration: none;
    font-size: .8em;
    font-weight: bolder;
    margin-top: 10px;
    border-bottom: 1px solid #fff;
}

#settings {
	/* margin-top: 132px; */
	padding: 0 1.5em;
	display: block;
	width: 900px;
	height: 120px;
}

.roundbox {
	-moz-border-radius: 5px;
        -webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	padding:7px;
	margin-left:30px;
	background:#fff;
	opacity:0.5;
}

.footer-credits-img {
	width:176px;
	height:66px;
	border:none;
}

.settings-header {
	color:black;
	font-weight:bold;
	width:150px;
	padding:none;
	padding-bottom:1px;
	text-transform: uppercase;
	letter-spacing: 0.3em;
	margin-bottom:7px;
}

div.settings-box, div#bookmarklet {
	float: left;
	margin-top:7px;
}
div#bookmarklet {
	width: 200px;
	margin-top: 34px;
	margin-left: 0px;
	text-align: center;	
}

div#style {
	width: 175px;
	margin-left: 20px;
}
div#size {
	width: 165px;	
}
div#margin {
	width: 160px;	
}

.settings-box label {
	margin-left: .5em;
	cursor: pointer;
}
.settings-box p {
	margin: .1em 0;	
	color:#000;
	opacity:0.9;
}

#readHiddenContent {
	display: none;	
}
#example {
	display: block;
	margin-left: 30px;
	margin-top: 24px;
	width: 888px;
	/* height: 458px; */
	left: 30px;
	padding: 1em 2em;
	overflow: auto;
	box-shadow: 0px 2px 9px rgba(0, 0, 0, .8);
}
#articleContent {
	text-align: left;
	line-height: 1.4em;	
	margin: 1em auto;
}
/* ---------------- USER-CONFIGURABLE STYLING --------------------- */
/* ---------------- USER-CONFIGURABLE STYLING --------------------- */
/* Size options */
.size-small {
	font-size: 12px;
}
.size-medium {
	font-size: 18px;	
}
.size-large {
	font-size: 26px;
}
.size-x-large {
	font-size: 34px;
}

/* Style options */
.style-novel {
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	background: #F4F3DB;
	color: #222;
}

.style-ebook {
	font-family:Arial, Helvetica, sans-serif;
	background: #eee;
	color: #333;
}
.style-ebook h1 {
	font-family: "Arial Black", Gadget, sans-serif;
	font-weight: normal;
}

.style-newspaper {
	font-family:"Times New Roman", Times, serif;
	background: #F7F7F7;
	color: #222;
}
.style-newspaper h1 {
	text-transform:capitalize;
	font-family: Georgia, "Times New Roman", Times, serif;
}

.style-terminal {
	font-family: "Lucida Console", Monaco, monospace;
	background: #1D4E2C;
	color: #C6FFC6;
}


.style-terminal #readInner a {
	color: #009933;
}

.style-terminal a {
  color: LightGreen;
}

.style-terminal a:hover {
  color: LawnGreen;
}

.style-terminal a:visited {
	text-decoration: none;
	color: LimeGreen;
}

/* Begin Typekit Styles */

.style-classy {
	font-family: "Adobe Caslon Pro",georgia,garamond,times,serif;
	background-color: #FDFDFD;
	color: #434343;
}

.style-classy #readInner a {
	color: #8F674B;
	text-decoration: none;
}

.style-post {
	font-family: "Droid Sans", "Arial", sans-serif;
	background-color: #FFF;
	color: #222;
}

.style-post #articleContent h1 {
	font-family: "League Gothic";
	font-size: 2.4em;
	letter-spacing: 2px;
	line-height: 1;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 0;
	font-weight: normal;
}

/* Background Options */
.background-none {
	background: url(../images/background_noise.png) repeat; /* https://www.cssmatic.com/noise-texture */
	color: #ddd;
	margin-top:0px;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	background-color:#1E4E74;
	padding:0px;
}
.background-masseffect {
	background: url(../images/background_paradise.jpg) no-repeat center center fixed;
	color: #ddd;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin-top:0px;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	background-color:#1E4E74;
	padding:0px;
}
.background-fancy {
	background: url(../images/background_tron.jpg) no-repeat center center fixed;
	color: #ddd;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin-top:0px;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	background-color:#1E4E74;
	padding:0px;
}
.background-nature {
	background: url(../images/background_city.jpg) no-repeat center center fixed;
	color: #ddd;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin-top:0px;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	background-color:#1E4E74;
	padding:0px;
}

/* Margin Options */
.margin-x-wide {
	width: 35%;
}
.margin-wide {
	width: 55%;
}
.margin-medium {
	width: 75%;
}
.margin-narrow {
	width: 95%;
}
/* ---------------- USER-CONFIGURABLE STYLING --------------------- */
/* ---------------- USER-CONFIGURABLE STYLING --------------------- */



/* LOCK IN H1 SIZING */
#articleContent h1 {
	font-size: 1.2em;
	display: block;
	text-transform:uppercase;
}
#articleContent {
	line-height: 1.4em;	
}

